.detalles-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detalles-imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.detalles-info {
    text-align: center;
}

.detalles-nombre {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
}

.detalles-descripcion {
    margin-top: 10px;
    color: #666;
    line-height: 1.6;
}

.detalles-precio {
    margin-top: 20px;
    font-weight: bold;
    color: #e44d26;
}
