{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block extrastyle %}
{% compress css %}
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endcompress %}
{% endblock %}

{% block titulo %}{% trans "Detalles del Ingrediente" %}{% endblock %}

{% block contenido %}
<h2>{{ ingrediente.nombre }}</h2>

<!-- Mostrar la imagen del ingrediente -->
<div class="ingrediente-detalle">
    <img src="{{ ingrediente.imagen.url }}" alt="{{ ingrediente.nombre }}" class="ingrediente-imagen">
</div>

<p><strong>{% trans "Categoría:" %}</strong> {{ ingrediente.categoria }}</p>

<h3>{% trans "Recetas que contienen este ingrediente:" %}</h3>

<!-- Lista de recetas que contienen el ingrediente -->
<div class="recetas-lista">
    <ul>
        {% for receta in ingrediente.receta_set.all %}
        <li class="receta-item">
            <a href="{% url 'detail_receta' receta.id %}">
                <div class="receta-card">
                    <!-- Imagen de la receta -->
                    <img src="{{ receta.imagen.url }}" alt="{{ receta.nombre }}" class="receta-imagen">
                    <div class="receta-info">
                        <h3>{{ receta.nombre }}</h3>
                        <p>{% trans "Tipo de Plato:" %} {{ receta.tipo_plato.nombre }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% empty %}
        <li>{% trans "No hay recetas que contengan este ingrediente." %}</li>
        {% endfor %}
    </ul>
</div>

<!-- Botones de navegación -->
<div class="botones-navegacion">
    <a href="{% url 'list_ingredientes' %}" class="btn-volver">{% trans "Volver a la lista de Ingredientes" %}</a>
    <a href="{% url 'index' %}" class="btn-volver">{% trans "Volver al Inicio" %}</a>
</div>
{% endblock %}
