{% extends 'base.html' %}
{% block titulo %}Lista de Ingredientes{% endblock %}

{% block contenido %}
<h2>Ingredientes Disponibles</h2>
<div class="lista">
    <ul>
        {% for ingrediente in ingredientes %}
        <li class="item">
            <a href="{% url 'detail_ingrediente' ingrediente.id %}">
                <div class="ingrediente-info">
                    <h3>{{ ingrediente.nombre }}</h3>
                    <p><strong>Categoría:</strong> {{ ingrediente.categoria }}</p>
                </div>
            </a>
        </li>
        {% empty %}
        <li>No hay ingredientes disponibles.</li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'index' %}" class="btn-volver">Volver al Inicio</a>
{% endblock %}
