{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}

{% block titulo %}{% trans "Ingredientes Disponibles" %}{% endblock %}

{% block extrastyle %}
{% compress css %}
<link rel="stylesheet" href="{% static 'styleIngredientes.css' %}">
{% endcompress %}
{% endblock %}

{% block contenido %}
<h2 class="section-title">{% trans "Ingredientes Disponibles" %}</h2>

<div id="ingredients-container" class="ingredients-container">
    {% for ingrediente in ingredientes %}
    <div id="ingredient-{{ ingrediente.id }}" class="ingredient-card">
        <img src="{{ ingrediente.imagen.url }}" alt="{{ ingrediente.nombre }}" class="ingredient-image">
        <div class="ingredient-text">
            <h3 class="ingredient-title">{{ ingrediente.nombre }}</h3>
            <p class="ingredient-category">{% trans "Categoría" %}: {{ ingrediente.categoria }}</p>
            <a href="{% url 'recetas_por_ingrediente' ingrediente.id %}" class="btn-ingrediente">{% trans "Ver Recetas" %}</a>
        </div>
    </div>
    {% endfor %}
</div>

<button id="cargar-mas-ingredientes" data-offset="10" class="btn-ingrediente">{% trans "Cargar más ingredientes" %}</button>

{% endblock %}
