{% extends 'base.html' %}
{% load static %}

{% block titulo %}Ingredientes Disponibles{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styleIngredientes.css' %}">
{% endblock %}

{% block contenido %}
<h2 class="section-title">Ingredientes Disponibles</h2>

<div class="ingredients-container">
    {% for ingrediente in ingredientes %}
    <div class="ingredient-card">
        <div class="ingredient-image">
            <img src="{{ ingrediente.imagen.url }}" alt="{{ ingrediente.nombre }}">
        </div>
        <h3>{{ ingrediente.nombre }}</h3>
        <p><strong>Categoría:</strong> {{ ingrediente.categoria }}</p>
        <a href="{% url 'detail_ingrediente' ingrediente.id %}" class="btn-ingrediente">Ver Recetas</a>
    </div>
    {% empty %}
    <p>No hay ingredientes disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
