{% extends "base.html" %}
{% load static %}

{% block titulo %} Menú {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endblock %}

{% block contenido %}
    <div class="menu-items">
        <!-- Tipos de Plato -->
        <div class="menu-item">
            <a href="{% url 'list_tipos_plato' %}">
                <img src="{% static 'images/tipos_plato.jpg' %}" alt="Tipos de Plato">
                <p>Explora nuestros diferentes tipos de plato</p>
            </a>
        </div>

        <!-- Recetas -->
        <div class="menu-item">
            <a href="{% url 'list_recetas' %}">
                <img src="{% static 'images/recetas.jpg' %}" alt="Recetas">
                <p>Descubre nuestras recetas destacadas</p>
            </a>
        </div>

        <!-- Ingredientes -->
        <div class="menu-item">
            <a href="{% url 'list_ingredientes' %}">
                <img src="{% static 'images/ingredientes.jpg' %}" alt="Ingredientes">
                <p>Conoce nuestros ingredientes frescos</p>
            </a>
        </div>
    </div>

    <!-- Recetas Destacadas -->
    <div class="recetas-destacadas">
        <h2>Recetas Destacadas</h2>
        <div class="recetas-tipo-plato">
            {% for tipo_plato in tipos_plato %}
                <div class="menu-item">
                    <h3>{{ tipo_plato.nombre }}</h3>
                    {% for receta in recetas %}
                        {% if receta.tipo_id == tipo_plato.id %}
                            <a href="{% url 'detail_receta' receta.id %}">
                                <div class="receta-item">
                                    <img src="{% static receta.imagen.name %}" alt="{{ receta.nombre }}">
                                    <p class="receta-nombre">{{ receta.nombre }}</p>
                                    <p class="receta-descripcion">{{ receta.descripcion }}</p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Sección de Contacto -->
    <div class="contacto-seccion">
        <h2>Contáctanos</h2>
        <p>Si tienes alguna pregunta o necesitas más información, visita nuestra página de <a href="{% url 'contacto' %}">Contacto</a>.</p>
    </div>

{% endblock %}
