{% extends "base.html" %}
{% block titulo %}Inicio - Recipes Store{% endblock %}

{% block contenido %}
<div class="recipe-highlight">
    <div class="recipe-image">
        <img src="{{ plato_destacado.imagen.url }}" alt="{{ plato_destacado.nombre }}">
    </div>
    <div class="recipe-details">
        <p class="inspiration">Inspiración de la Semana</p>
        <h1 class="recipe-title">{{ plato_destacado.nombre }}</h1>
        <p class="description">{{ plato_destacado.descripcion }}</p>
        <p class="likes">❤️ 2.7k</p>
    </div>
</div>
{% endblock %}
