{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block titulo %}{% trans "Inicio - Recipes Store" %}{% endblock %}

{% block contenido %}
<!-- Inspiración de la Semana -->
<div class="recipe-highlight">
    <div class="recipe-container">
        <div class="recipe-image">
            {% if tipo_plato.imagen %}
                <img src="{{ tipo_plato.imagen.url }}" alt="{{ tipo_plato.nombre }}" class="inspiration-image">
            {% else %}
                <img src="{% static 'media/tipoPlato/default.jpg' %}" alt="{% trans 'Plato Destacado' %}" class="inspiration-image">
            {% endif %}
        </div>
        <div class="recipe-details">
            <p class="inspiration">{% trans "Inspiración de la Semana" %}</p>
            <h1 class="recipe-title">
                <a href="{% url 'detail_tipo_plato' tipo_plato.id %}">{{ tipo_plato.nombre }}</a>
            </h1>
            <p class="description">{{ tipo_plato.descripcion }}</p>
        </div>
    </div>
</div>

<!-- Últimas Recetas -->
<div class="latest-recipes">
    <h2>{% trans "Nuestras Recetas Más Recientes" %}</h2>
    <div class="recipes-container">
        {% for receta in recetas %}
        <div class="recipe-card">
            <a href="{% url 'detail_receta' receta.id %}">
                {% if receta.imagen %}
                <img src="{{ receta.imagen.url }}" alt="{{ receta.nombre }}">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="{% trans 'Receta sin Imagen' %}">
                {% endif %}
                <div class="recipe-info">
                    <h3>{{ receta.nombre }}</h3>
                    <p>{{ receta.descripcion|truncatewords:10 }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
