{% extends 'base.html' %}
{% load i18n %}
{% load compress %}

{% block contenido %}
<div class="register-container">
    <h2 class="register-title">{% trans "Registro" %}</h2>
    <form method="POST" class="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">{% trans "Nombre de Usuario:" %}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="email">{% trans "Correo Electrónico:" %}</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="password1">{% trans "Contraseña:" %}</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="password2">{% trans "Confirmar Contraseña:" %}</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn-register">{% trans "Registrarse" %}</button>
    </form>
    <p class="register-footer">
        {% trans "¿Ya tienes una cuenta?" %} <a href="{% url 'login' %}">{% trans "Iniciar Sesión" %}</a>
    </p>
</div>
{% endblock %}
