{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styleRecetas.css' %}">
{% endblock %}

{% block contenido %}
<h2>Recetas Disponibles</h2>
<div class="recipes-container">
    {% for receta in recetas %}
    <div class="recipe-card">
        {% if receta.imagen %}
    <img src="{{ receta.imagen.url }}" alt="{{ receta.nombre }}" class="recipe-image">
    {% else %}
    <img src="{% static 'default_image.png' %}" alt="Imagen no disponible" class="recipe-image">
    {% endif %}

        <div class="recipe-info">
            <h3 class="recipe-title">{{ receta.nombre }}</h3>
            <p>Tipo de Plato: {{ receta.tipo.nombre }}</p>
            <p>Ingredientes: {{ receta.ingredientes.all|join:", " }}</p>
        </div>
        <a href="{% url 'detail_receta' receta.id %}" class="btn-recipe">Ver Detalles</a>
    </div>
    {% empty %}
    <p>No hay recetas disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
