{% extends 'base.html' %}
{% block titulo %}Lista de Recetas{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endblock %}

{% block contenido %}
<h2>Recetas Disponibles</h2>
<div class="lista">
    <ul>
        {% for receta in recetas %}
        <li class="item receta-item">
            <a href="{% url 'detail_receta' receta_id=receta.id %}">
                <div class="receta-info">
                    <h3>{{ receta.nombre }}</h3>
                    <p><strong>Tipo de Plato:</strong> {{ receta.tipo.nombre }}</p>
                    <p><strong>Ingredientes:</strong> 
                        {% for ingrediente in receta.ingredientes.all %}
                            {{ ingrediente.nombre }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </a>
        </li>
        {% empty %}
        <li>No hay recetas disponibles.</li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'index' %}" class="btn-volver">Volver al Inicio</a>
{% endblock %}
