{% extends 'base.html' %}
{% block titulo %}Detalles del Tipo de Plato{% endblock %}

{% block contenido %}
<h2>{{ tipo_plato.nombre }}</h2>
<p>{{ tipo_plato.descripcion }}</p>

<h3>Recetas de este tipo:</h3>
<ul>
    {% for receta in tipo_plato.receta_set.all %}
    <li><a href="{% url 'detail_receta' receta.id %}">{{ receta.nombre }}</a></li>
    {% empty %}
    <li>No hay recetas para este tipo de plato.</li>
    {% endfor %}
</ul>

<a href="{% url 'list_tipos_plato' %}">Volver a la lista de tipos de plato</a>
{% endblock %}
