{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endblock %}

{% block titulo %}Detalles del Tipo de Plato{% endblock %}

{% block contenido %}
<h2>{{ tipo_plato.nombre }}</h2>
<p>{{ tipo_plato.descripcion }}</p>

<h3>Recetas de este Tipo de Plato:</h3>
<div class="recetas-lista">
    <ul>
        {% for receta in tipo_plato.receta_set.all %}
        <li class="receta-item">
            <a href="{% url 'detail_receta' receta.id %}">
                <div class="receta-info">
                    <h3>{{ receta.nombre }}</h3>
                    <p>Descripción: {{ receta.descripcion }}</p>
                </div>
            </a>
        </li>
        {% empty %}
        <li>No hay recetas para este tipo de plato.</li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'list_tipos_plato' %}">Volver a la lista de Tipos de Plato</a>
<a href="{% url 'index' %}">Volver al Inicio</a>
{% endblock %}
