{% extends 'base.html' %}
{% load static %}

{% block titulo %}Tipos de Plato{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endblock %}

{% block contenido %}
<h2 class="section-title">¿Qué cocinar hoy?</h2>

<div class="categories-container">
    {% for tipo_plato in tipos_plato %}
    <a href="{% url 'detail_tipo_plato' tipo_plato.id %}" class="category-card-rectangular">
        <div class="category-image-rectangular">
            {% if tipo_plato.imagen %}
                <img src="{{ tipo_plato.imagen.url }}" alt="{{ tipo_plato.nombre }}">
            {% else %}
                <img src="{% static 'images/default.png' %}" alt="Imagen no disponible">
            {% endif %}
        </div>
        <div class="category-text-rectangular">
            <h4>{{ tipo_plato.nombre }}</h4>
            <p>{{ tipo_plato.descripcion|truncatewords:12 }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}