{% extends 'base.html' %}
{% block titulo %}Tipos de Plato{% endblock %}

{% block contenido %}
<h2>Tipos de Plato</h2>
<div class="tipos-plato-lista">
    <ul>
        {% for tipo_plato in tipos_plato %}
        <li class="tipo-plato-item">
            <a href="{% url 'detail_tipo_plato' tipo_plato.id %}">
                <div class="tipo-plato-info">
                    <h3>{{ tipo_plato.nombre }}</h3>
                    <p>{{ tipo_plato.descripcion }}</p>
                </div>
            </a>
        </li>
        {% empty %}
        <li>No hay tipos de plato disponibles.</li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'index' %}">Volver al Inicio</a>
{% endblock %}
